body{
  background-color: #e5e3e5;
  font-family: 'B612 Mono', monospace;
}
.blogtitle{
  text-align: center;
  margin-top: 5vh;
  padding: 10px;
}
.card1,
.card2,
.card3 {
  border: 5px solid black;
  height: auto;
  width: 50vh;
  box-sizing: border-box;
  background-color: white;
  color:#c22c67
}
.card1 {
  position: absolute;
  top: 25vh;
  left: 5vw;
}
.card2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25vh;
}
.card3 {
  position: absolute;
  top: 25vh;
  right: 5vw;
}
.preview {
  text-align: center;
  color: gray;
}
.link {
  text-align: center;
}
.image1 {
  height: 20vh;
  width: auto;
  background-image: url(img/new-york-university_180.jpg);
  background-size: cover;
}
.image2 {
  height: 20vh;
  width: auto;
  background-image: url(img/Morningside\ Campus\ at\ Dusk\ 2.jpg);
  background-size: cover;
}
.image3 {
  height: 20vh;
  width: auto;
  background-image: url(img/Barnard.png);
  background-size: cover;
}
.title {
  text-align: center;
}
