.card1,.card2,.card3{
  border: 5px solid black;
  height: 40vh;
  width: 50vh;
  box-sizing: border-box;
}
.card2{
  position: relative;
  left: 60vh;
}
.title{
  text-align: center;
}
.preview{
  text-align: center;
  color: gray
}
.link{
  text-align: center;
}
.image{
  height:20vh;
  width: 49vh;
  background-color: red;
}